name: lint

on:
  push:
    branches:
      - master
  pull_request: null

env:
  PY_COLORS: "1"

defaults:
  run:
    shell: bash -leo pipefail {0}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          fetch-depth: 0
          fetch-tags: true

      - uses: mamba-org/setup-micromamba@7f29b8b80078b1b601dfa018b0f7425c587c63bb  #v2.0.7
        with:
          environment-name: fitsio-dev
          condarc: |
            channels:
            - conda-forge
            show_channel_urls: true
            channel_priority: strict
            always_yes: true
          create-args: >-
            pre-commit
            identify>2.6

      - name: pre-commit
        run: |
          pre-commit run -a
