name: tests

on:
  push:
    branches:
      - master
  pull_request: null

env:
  PY_COLORS: "1"
  # These compiler flags force the tests to fail if arrays are
  # accessed at the C level from an unaligned location.
  TEST_CFLAGS: "-fsanitize=alignment -fno-sanitize-recover=alignment"

defaults:
  run:
    shell: bash -leo pipefail {0}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: tests
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest]
        config:
          - { pyver: "3.8", npver: "1", ft: "python-gil"}
          - { pyver: "3.11", npver: "1.26", ft: "python-gil"}
          - { pyver: "3.12", npver: "1.26", ft: "python-gil"}
          - { pyver: "3.11", npver: "2.3.0", ft: "python-gil"}
          - { pyver: "3.12", npver: "2.3.0", ft: "python-gil"}
          - { pyver: "3.13", npver: "2.3.0", ft: "python-gil"}
          - { pyver: "3.14", npver: "2", ft: "python-freethreading"}

    runs-on: ${{ matrix.os }}
    env:
      PIP_OPTIONS: "--no-cache-dir --no-deps --no-build-isolation -v"

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          fetch-depth: 0
          fetch-tags: true

      - uses: mamba-org/setup-micromamba@7f29b8b80078b1b601dfa018b0f7425c587c63bb  #v2.0.7
        with:
          environment-name: fitsio-dev
          condarc: |
            channels:
            - conda-forge
            show_channel_urls: true
            channel_priority: strict
            always_yes: true
          create-args: >-
            python=${{ matrix.config.pyver }}
            numpy=${{ matrix.config.npver }}
            setuptools-scm>=8
            wget
            make
            pytest
            setuptools
            pytest-run-parallel
            ${{ matrix.config.ft }}

      - name: test bundled build
        run: |
          export CFLAGS="${CFLAGS} ${TEST_CFLAGS}"

          pip cache purge
          rm -rf build*
          rm -rf $HOME/cfitsio-static-install
          find . -name "*.so" -type f -delete
          pip install ${PIP_OPTIONS} -e .
          if [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then
            pytest -vv --parallel-threads 4 --iterations 4 fitsio
            python -c "import fitsio; assert not fitsio.cfitsio_has_bzip2_support()"
            python -c "import fitsio; assert not fitsio.cfitsio_has_curl_support()"
          else
            pytest -vv --parallel-threads 4 --iterations 4 fitsio
            python -c "import fitsio; assert fitsio.cfitsio_has_bzip2_support()"
            python -c "import fitsio; assert fitsio.cfitsio_has_curl_support()"
          fi

      - name: install bzip2 and curl on linux
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get install libbz2-dev curl libcurl4-openssl-dev

      - name: test install sdist .gz with no unit tests
        run: |
          export CFLAGS="${CFLAGS} ${TEST_CFLAGS}"

          pip cache purge
          rm -rf build*
          rm -rf $HOME/cfitsio-static-install
          find . -name "*.so" -type f -delete
          rm -rf dist

          python setup.py sdist

          pip install ${PIP_OPTIONS} dist/*.tar.gz
          cd ..
          python -c "import fitsio; assert not fitsio.__version__.startswith('0')"
          cd -
          pip uninstall fitsio --yes

      - name: test sdist
        run: |
          export CFLAGS="${CFLAGS} ${TEST_CFLAGS}"

          pip cache purge
          rm -rf build*
          rm -rf $HOME/cfitsio-static-install
          find . -name "*.so" -type f -delete
          rm -rf dist

          python setup.py sdist
          pushd dist/

          fname=$(ls fitsio*.gz)
          tar xvfz "$fname"
          dname=$(echo "$fname" | sed 's/\.tar\.gz//')
          pushd $dname

          pip install ${PIP_OPTIONS} -e .
          pytest -vv --parallel-threads 4 --iterations 4 fitsio
          python -c "import fitsio; assert fitsio.cfitsio_has_bzip2_support()"
          python -c "import fitsio; assert fitsio.cfitsio_has_curl_support()"

          popd
          popd
